.App {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnAdded {
    display: flex;
    margin-top: 100px;
}

.btnAdded button {
    padding: 0 20px;
    margin: 0 20px;
    background-color: #fff;
    border: 1px solid rgb(95, 95, 94);
}
.counterParentDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counterParentDiv button {
    border: 1px solid rgb(110, 101, 101);
    padding: 0 20px;
    margin: 0 20px;
    font-size: 32px;
    background-color: #fff;
}

.buttonChange {
    color: #fff;
    background-color: #693a3a;
}
.ul {
    list-style: none;
    font-size: 32px;
}
.ul li {
    padding: 3px;
    margin: 3px;
    border: 1px solid saddlebrown;
    cursor: pointer;
}
